extends layout

block content
    // Header
    header.page-header
        h1 Promotions

    // Alert
    if typeof(alert) != 'undefined'
            .alert(class='alert-'+alert.type) #{alert.message}

    // Content
    section.main
        form
            button.btn.pull-right.create-dlg-btn(type='button') Add
            div.list
                table.table.table-striped.grid#promotionGrid


    // Dialog

    .modal#create-dlg.hide.fade
        .modal-header
            button.close(type='button', data-dismiss='modal') x
            h3 Add a Promotion
        .modal-body
                ul.nav.nav-pills
                    li.active
                        a(href='#search',data-toggle='tab') Step 1: Find a business
                    li
                        a(href='#edit',data-toggle='tab') Step 2: Setup Promotion

                .tabbable.tabs-left#promotion-tabs
                    .tab-content
                        .tab-pane.fade.in.active#search

                            form.form-search.well#promotionBizSearch
                                input.input-medium(type='text', id='term',name='term', placeholder='Business name')
                                input.input-medium(type='text', id='location',name='location', placeholder='Location')
                                | &nbsp;
                                input.btn.search-btn(type='submit', value='Search')

                            .businessSearch
                                table.table.table-striped#businessSearchGrid

                        .tab-pane.fade#edit
                            form.promo.form-horizontal(method='POST', action='/admin/api/promotions')
                                fieldset
                                    input(type='hidden', name='_csrf', value=req.session._csrf)
                                    input(type='hidden', id='businessId', name='promo[businessId]')
                                    .selected-business.control-group

                                    .control-group
                                        label.control-label(for='name') Promotion Name
                                        .controls
                                            input.input-large(type='text', id='name', name='promo[name]')
                                    .control-group
                                        label.control-label(for='') Id
                                        .controls
                                            input.input-xlarge(type='text',id='id',name='promo[id]')

                                    .control-group
                                        label.control-label(for='description') Description
                                        .controls
                                            input.input-xlarge(type='text',id='description',name='promo[description]')

                                    .control-group
                                       label.control-label(for='restrictions') Restrictions
                                       .controls
                                           input.input-xlarge(type='text',id='restrictions',name='promo[restrictions]')

                                    .control-group
                                        label.control-label(for='') Barcode
                                        .controls
                                            input.input-xlarge(type='text',id='barcode',name='promo[barcode]')

                                    .control-group
                                        label.control-label(for='tags') Tags
                                        .controls
                                            input.input-xlarge#tags(type='text',name='promo[tags]')
                                            ul#tagsList
                                            p.help-block Separate each tag with a space
        .modal-footer
            a.btn.btn-large.hide#btn-prev Back
            a.btn.btn-large.hide.btn-primary#btn-next Save

    // Templates

    script(type='text/template', id='selectedModelTemplate' )
        label.control-label Selected Business
        .controls
            address
                strong {{ name }}
                br
                | {{ (location.address && location.address.length > 0) ?location.address[0] : '' }}
                br
                | {{ location.city }} {{ location.state_code }}, {{ location.postal_code }}

// Javascript

block javascriptFooter
    script(type='text/javascript')
        $(document).ready(function() {
            var view = new PromotionView({el: $('section.main')});
        });

