
.thumbnails
    li.span3
        .thumbnail
            img(src='http://placehold.it/260x180', alt='')
            .caption
                h5 Thumbnail label
                p Thumbnail caption here
    li.span3
        .thumbnail
            img(src='http://placehold.it/260x180', alt='')
            .caption
                h5 Thumbnail label
                p Thumbnail caption here
    li.span3
        .thumbnail
            img(src='http://placehold.it/260x180', alt='')
            .caption
                h5 Thumbnail label
                p Thumbnail caption here
    li.span3
        .thumbnail
            img(src='http://placehold.it/260x180', alt='')
            .caption
                h5 Thumbnail label
                p Thumbnail caption here
    li.span3
        .thumbnail
            img(src='http://placehold.it/260x180', alt='')
            .caption
                h5 Thumbnail label
                p Thumbnail caption here
    li.span3
        .thumbnail
            img(src='http://placehold.it/260x180', alt='')
            .caption
                h5 Thumbnail label
                p Thumbnail caption here
    li.span3
        .thumbnail
            img(src='http://placehold.it/260x180', alt='')
            .caption
                h5 Thumbnail label
                p Thumbnail caption here
    li.span3
        .thumbnail
            img(src='http://placehold.it/260x180', alt='')
            .caption
                h5 Thumbnail label
                p Thumbnail caption here

