include mixins/_listing.mixin.jade
include mixins/_pagination.mixin.jade

- var length = searchResult.businesses.length
- for (var i = 0; i < length; i=i+3) {
    .row-fluid
        - for(var j = 0; j < 3 && i+j < length; j++) {
            mixin listing(searchResult.businesses[i+j])
        - }
- }

mixin pagination(pageNumber, pageCount)