- var items = ["one", "two", "three","four","five","six","seven","eight"]

.thumbnails
    each item in items
        li.span3
            .thumbnail
                a(href='/gift-card-from/' + item)
                    img(src='http://placehold.it/260x180', alt='')
                .caption
                    h5 Thumbnail label
                    p Thumbnail caption here