.navbar
    .navbar-inner
        .container
            a.brand(href='/') #{meta.title}
            a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            .nav-collapse

                if req.loggedIn
                    ul.nav.pull-right
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown',href='#')
                                | Welcome,
                                strong #{user.displayName}
                                b.caret
                            li.divider
                            li
                                a.logout
                                    i.icon-remove-circle
                                    | Logout
                else
                    ul.nav.pull-right
                        li
                            a(href='/login')
                                i.icon-exclamation-sigh.icon-white
                                | Login