form.well.search-form(action='/gifts-for')
        .container-fluid
            .row-fluid
                .control-group.span5
                    label.control-label What are you looking for?
                    .controls
                        input.input-xlarge.businessname(type='text',id='term',name='term',value=term.replace('+',' '))
                        .help-block
                            ul.nav.nav-pills
                                - var terms = ['restaurants','bars','nightlife']
                                each term in terms
                                    li
                                        a.term-item(href='#') #{term}
                                li
                                    a.term-item(href='#') more...


                .control-group.span5
                    label.control-label Near
                    .controls
                        input.input-xlarge.location(type='text',id='location',name='location',value=location.replace('+',' '))
                        .help-block
                            ul.nav.nav-pills
                                li
                                    a.location-item(href='#') San Francisco
                                li
                                    a.location-item(href='#') Atlanta

                .control-group.span2
                    label &nbsp;
                    button.btn.btn-large.gift-search-submit(type='submit') Search


script(type='text/javascript')
    $('.term-item').click(function(evt){
        debugger;
        evt.preventDefault();
        $('.businessname).val($(this).text());
        $('.search-form').submit();
    });

    $('.location-item').click(function(evt){
        evt.preventDefault();
        $('.location).val($(this).text());
        $('.search-form').submit();
    });
