extends layout

block content
    header.hero-unit

        h1 Give an experience.
        p.lead Flexible, secure online gift cards for any occassion.

    form.well(action='/gifts-for')
        .container-fluid
            .row-fluid
                .control-group.span4
                    label.control-label Business name or category
                    .controls
                        input.input-large.businessname(type='text',id='term',name='term',value=term.replace('+',' '))
                        .help-block
                            - var terms = ['restaurants','bars','nightlife']
                            each term in terms
                                a(href='/gifts-for/'+term) #{term}
                                | ,
                            | more


                .control-group.span4
                    label.control-label Near
                    .controls
                        input.input-large.location(type='text',id='location',name='location',value=location.replace('+',' '))
                        .help-block
                            a(href='') San Francisco
                            | ,
                            a(href='') Atlanta
                            | ,

                .control-group.span4
                    label &nbsp;
                    button.btn.btn-large(type='submit') Search

    include includes/_locations

    script(type='text/javascript')
        $('.listing').live('click',function(){
            var url = $(this).find('a.listinglink').attr('href');
            document.location=url;
        });