extends layout

block navBar
    include includes/_navbar

block content
    .hero-unit.header
        h1 Give an experience.
        p.lead Send your family or friends the gift of experience. For free.
            a.btn.btn-large.btn-info.pull-right(href='/gifts-for/adventure')
                strong Discover an experience
                | &nbsp;
                i.icon-chevron-right.icon-white

    if typeof(alert) != 'undefined'
        .alert(class='alert-'+alert.type) #{alert.message}

    .page-header
        h1 Popular Gift Ideas
        p Cool ideas that are crowd pleasers!
        include ./mixins/_listing.mixin.jade

        - var length = promos.length
        - for (var i = 0; i < length; i=i+3) {
            .row-fluid
                - for(var j = 0; j < 3 && i+j < length; j++) {
                    mixin listing(promos[i+j].listings[0].data, promos[i+j])
                - }
        - }

    .page-header
        h1 Promoted
        p Experience for less. Give it and get the discount!

block javascriptFooter
    script(type='text/javascript')
        $('.listing').live('click',function(){
            var url = $(this).find('a.listinglink').attr('href');
            document.location=url;
        });

